body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 100px !important;
}

.brand-logo{
    width: 100px !important;
}

.body-bg {
    background-image: url('../storage/pics/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body-bg:after {
    background: rgba(0, 0, 0, 0.6);
}

a{
  color: green !important;
}

p{
  font-size: 17px !important;
}


/*
==============================================
                Carousel Banner
==============================================
*/

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-item {
    border: solid tan;
}

.carousel-item img {
    height: 400px;
}


/*
----------------------------------------------
                Custom Styles
----------------------------------------------
*/

.mt-6{
  margin-top: 6rem !important;
}

.big-title {
    font-weight: 900;
}

.title {
    font-weight: 700;
}

.home-card .card-header {
    color: white;
}

hr-break {
    width: 40%;
    height: 2px;
    background: white;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.upper{
  text-transform: uppercase;
}

.header-border{
  border-bottom: solid gray;
  border-width: 2px;
  border-radius: auto;
  border-spacing: 2px;
}

.my-icons {
    width: 160px;
    height: 120px;
}

.icons {
    width: 100px;

}

.container-icon {
    width: 100%;
}

.fa-blue {
    color: blue;
}

.cont-2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/*
----------------------------------------------
                Colors
----------------------------------------------
*/

.stylish-color-dark {
    background: #212121;
}

.blue {
    color: #084b63;
}

.green {
    color: #044528;
}

.orange {
    color: orange;
}

.purple {
    color: #4e0465;
}

.bg-blue {
    background: #0999f7;
}

.bg-red {
    background: red;
}

.bg-purple {
    background: purple;
}

.bg-beige {
    background: beige;
}

.bg-gray {
    background: gray;
}

.bg-white {
    background: white;
}

.bg-darkgreen {
    background: #013e05;
}

.bg-darkblue {
    background: #0f2c5a;
}

.bg-darkpurple {
    background: #530658;
}

.bg-darkyellow {
    background: #615b04;
}

.white {
    color: white;
}

.audio {
    width: 100%;
    height: 50px;
}

.ml-3 {
    margin-left: 3rem;
}

.card-logo {
    width: 100%;
    position: unset;
}

.bg12 {
    background-image: url('/storage/app/public/icons/hands.jpg');
    position: absolute;
}

footer {
    color: white;
}


/* Testimonials */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
  .carousel-item:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
  }

  .carousel-item {
      border: solid tan;
  }

  .carousel-item img {
      height: 200px;
  }
}
